body{
    background-color: rgb(247, 246, 246);
    font-family: sans-serif;
    margin: 20px;
}


div.knowMoreBtn {
    background-color: #f2f2f2;
    font-size: 24px;
    padding: 24px;
    margin: 12px;
    border-top: 5px solid red;
    border-bottom: 10px solid green;
    border-right: 15px solid orange;
    border-left: 20px solid purple;

    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
}

div.knowMoreBtn:hover {
    background-color: rgb(0, 0, 0);
}
a:visited {
    color: gold;
}

a:hover {
    color: whitesmoke;
}

a:active {
    background-color: rgb(255, 0, 0);
}
