body{
    background-color: rgb(134, 131, 131);
    font-family: sans-serif;
    margin: 20px;
}

.container #myHeader {
    color: red;
}


p {
    color: green;   
}

.myText1 + .myText2 {
    color: orange;
}

.inputs {
    padding: 23px;
    border: 2px solid white;
    width: fit-content;
    position: absolute;
    left: 30%;
    right: 5%;
}

label {
    font-weight: bold;

}

input {
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 3px solid black;
}

button {
    font-size: 18px;
}