body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

.redText {
    color: rgb(229, 40, 87);
    font-family: sans-serif;
}

#myHeader {
    font-size: 48px;
    font-family: sans-serif;
}